Source: bunsen-images-extra
Section: x11
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1
Homepage: https://github.com/BunsenLabs/bunsen-images-extra
Vcs-Git: https://github.com/BunsenLabs/bunsen-images-extra.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-images-extra

Package: bunsen-images-archives
Architecture: all
Depends: ${misc:Depends}
Description: Images from former BunsenLabs releases
 A collection of wallpapers, grub and login backgrounds,
 used in former releases of BunsenLabs.
 .
 This package contains images from the Hydrogen and Helium BunsenLabs releases.
